{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CURRICULUM</title>

    <div>
        <h1> <a href="{% url  'principal' %}"> curriculum </a></h1>
    </div>
    <div>
        <a href="{% url 'cvNuevo' %}"> + Curriculum Nuevo</a>
    </div>
    
</head>
<body>
    <div>
        {% if user.is_authenticated %}
            <p> Bienvenido {{ user.username }}! </p>
            <p> <a href="{% url 'logout' %}"> Log out</a></p>
        {% else %}
            <p> Inicie sesion </p>
            <p> <a href="{% url 'login' %}">Login in</a> </p>
            <p> <a href="{% url 'registrar' %}"> Registrar</a></p>
        {% endif %}




        {% block content %}
        {% endblock content %}
    </div>
       
</body>
</html>